section {
	background-color: #777;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
}

div.colourcard {
	background: white;
	border: black;
	margin: 10px;
	width: 150px;
	height: 200px;
}

.score {
	border: black;
	background-color: #999;
	text-align: center;
	width: 50px;
	align: center;
	margin: auto;
	margin-bottom: 5px;
	padding: 3px;
}
